[package]
name = "arc-swap"
version = "0.4.2"
authors = ["Michal 'vorner' Vaner <vorner@vorner.cz>"]
description = "Atomically swappable Arc"
documentation = "https://docs.rs/arc-swap"
repository = "https://github.com/vorner/arc-swap"
readme = "README.md"
keywords = ["atomic", "Arc"]
categories = ["data-structures", "memory-management"]
license = "Apache-2.0/MIT"

[badges]
travis-ci = { repository = "vorner/arc-swap" }
appveyor = { repository = "vorner/arc-swap" }
maintenance = { status = "actively-developed" }

[features]
unstable-weak = []

[workspace]
members = ["benchmarks"]

[dependencies]

[dev-dependencies]
crossbeam-utils = "~0.6"
itertools = "~0.8"
lazy_static = "~1"
model = "~0.1"
num_cpus = "~1"
version-sync = "~0.8"
proptest = "~0.8"

[profile.bench]
debug = true

[package.metadata.docs.rs]
all-features = true
